<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <title> 날씨 표시 - with django </title>
        <script src ="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="{%static 'style.css'%}" />
    </head>
    <body>
        <div id="app">
            <header>
                <h2 style="color:black; float:left;margin-right: 1000px;">날씨 표시 Application</h2>
                <img v-bind:src='image'><br>
            </header>
            <section>
                <nav>
                    <h>Reporter Moon Chae Won</h>
                    <video width="450" controls :src="video">
                    </video>
                </nav>
                <article>
                    <h3>Input City : </h3>
                    <input v-model.lazy.trim="city" placeholder="도시명 입력(영어)" v-on:keyup.enter="updateWeather">
                    <button v-on:click="updateWeather">확인</button>
                
                    <h3>[[city]] 날씨 정보 : [[description]] </h3> 
                    <br>
                    <text :text="city"></text>
                    <div>
                        <p style="margin-left:20px;float:left;">날씨 icon: </p>
                        <img style="margin-left:10px;" :src="icon_url" /> 
                    </div>
                    
                    <div class="clear"></div>
                    <div>
                      <template v-if="Main=='Clear'">
                          <div class="weather_image" style="background-image:url('https://bit.ly/2UxkSmj')">
                              <h2 id="Loca">[[city]]</h2>
                              <h1 id="Temp">[[temp]]<sup></sup></h1>
                              <h2 id="Hum">습도:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[[humidity]] %</h2>
                              <h2 id="wind">풍속:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[[windP]]&nbspMPH</h2>
                          </div>
                      </template>
                      <template v-else-if="Main=='Rain'">
                          <div class="weather_image" style="background-image:url('https://bit.ly/3biKp8M')">
                              <h2 id="Loca">[[city]]</h2>
                              <h1 id="Temp">[[temp]]<sup></sup></h1>
                              <h2 id="Hum">습도:               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[[humidity]] %</h2>
                              <h2 id="wind">풍속:              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[[windP]]&nbspMPH</h2>
                          </div>
                      </template>
                       <template v-else-if="Main=='Clouds'">
                          <div class="weather_image" style="background-image:url('https://bit.ly/2Uxv6CU')">
                              <h2 id="Loca">[[city]]</h2>
                              <h1 id="Temp">[[temp]]<sup></sup></h1>
                              <h2 id="Hum">습도:               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[[humidity]] %</h2>
                              <h2 id="wind">풍속:              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[[windP]]&nbspMPH</h2>
                          </div>
                      </template>
                       <template v-else-if="Main=='Snow'">
                          <div class="weather_image" style="background-image:url('https://bit.ly/2S30ffX')">
                              <h2 id="Loca">[[city]]</h2>
                              <h1 id="Temp">[[temp]]<sup></sup></h1>
                              <h2 id="Hum">습도:               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[[humidity]] %</h2>
                              <h2 id="wind">풍속:              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[[windP]]&nbspMPH</h2>
                          </div>
                      </template>
                      
                      <template v-else-if="Main=='Drizzle'">
                        <div class="weather_image" style="background-image:url('http://bitly.kr/3lCWf6mHY9')">
                            <h2 id="Loca">[[city]]</h2>
                            <h1 id="Temp">[[temp]]<sup></sup></h1>
                            <h2 id="Hum">습도:               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[[humidity]] %</h2>
                            <h2 id="wind">풍속:              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[[windP]]&nbspMPH</h2>
                        </div>
                    </template>
                    
                    <template v-else-if="Main=='Thunderstorm'">
                      <div class="weather_image" style="background-image:url('http://bitly.kr/seNP0xk1eX')">
                          <h2 id="Loca">[[city]]</h2>
                          <h1 id="Temp">[[temp]]<sup></sup></h1>
                          <h2 id="Hum">습도:               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[[humidity]] %</h2>
                          <h2 id="wind">풍속:              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[[windP]]&nbspMPH</h2>
                      </div>
                  </template>
                  
                  <template v-else-if="Main=='Atmosphere'">
                    <div class="weather_image" style="background-image:url('http://bitly.kr/N6i9KoTSl7')">
                        <h2 id="Loca">[[city]]</h2>
                        <h1 id="Temp">[[temp]]<sup></sup></h1>
                        <h2 id="Hum">습도:               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[[humidity]] %</h2>
                        <h2 id="wind">풍속:              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[[windP]]&nbspMPH</h2>
                    </div>
                </template>
                  </div>
                    <div>
                        <p style="margin-left:20px;">위치 : </p>
                        <img :src="map_url" />
                    </div>
                    
                  </article>
            </section>      
            <footer>
				Designed By : <a href="https://github.com/jeon3029" >jeon3029</a>
			</footer>          
        </div>
        <script>
            var vm = new Vue({
                delimiters : ['[[',']]'],
                el:"#app",
                data:() =>{
                    return{
                    product:'test',
                    image : "{% static 'img/weather.png' %}",
                    video :"{% static 'img/moon.mp4' %}",
                    description :'',
                    icon_url:'',
                    map_url:'',
                    city:'Seoul',
                    weather:'',
                    temp:'',
                    Main:'',
                    humidity:'',
                    windP:'1'
                    }
                },
                methods: {
                    getIconURL: function(n) {
                    return '//openweathermap.org/img/w/'+n+'.png';
                    },
                    getMapURL: function(city) {
                    return 'https://maps.googleapis.com/maps/api/staticmap?center='+city+'&zoom=13&size=600x300&maptype=roadmap&key="yourkey"';
                    },
                    updateWeather: function() {
                        var url = '//api.openweathermap.org/data/2.5/weather?q='+this.city+'&appid="yourkey"';
                        axios.get(url).then(res => {
                            // console.log(JSON.stringify(res.data));
                            this.weather = res.data.weather;
                            console.log(this.weather)

                            // console.log(this.weather[0].description)
                            this.description = this.weather[0].description;
                            // console.log(this.description)
                            
                            this.icon_url = this.getIconURL(this.weather[0].icon);
                            this.map_url = this.getMapURL(this.city);
                            
                            temp = res.data.main;
                            console.log(temp)
                            this.temp = ''+(parseFloat(temp.temp)-273.15).toFixed(2) + '℃';

                            this.Main = this.weather[0].main;
                            console.log(this.Main)


                            this.windP = res.data.wind.speed;
                            console.log(this.windP);

                            this.humidity = res.data.main.humidity;
                            console.log(this.humidity);
                    });
                    }
                }
            });
        </script>
    </body>   
</html>